body {
    font-family: helvetica, sans-serif, arial;
    font-size: 1em;
    color: #111;
}

h1 {
    text-align: center;
}

#terminal-container {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    padding: 2px;
}

#terminal-container .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
}

.cursor-name{
	position: absolute;
	padding: 2px;
}

.breakpoints {width: .8em;}
.breakpoint { color: #822; }