html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.card .card-content p {
    margin-top: 10px;
}

.create-project {
    width: 150px;
    height: 50px;
}

.btn-create {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form, .register-form {
    width: 400px;
}

.login-page, .register-page {
    width: 400px;
}

#profile-card-1 .card-image, #profile-card-2 .card-image {
    height: 150px;
}

#profile-card-1 .card-profile-image, #profile-card-2 .card-profile-image {
    width: 70px;
    position: absolute;
    top: 110px;
    z-index: 1;
    cursor: pointer;
}

#profile-card-1 .btn-move-up, #profile-card-2 .btn-move-up {
    position: relative;
    top: -40px;
    right: -18px;
    margin-right: 10px !important;
}

#particles {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #111;
    position: absolute;
    margin-top: -64px;
    z-index: -1;
}

.img-logo {
    width: 76px;
}

#intro {
    position: absolute;
    left: 0;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    text-align: center;
    color: #FFF;
}

h1::after {
    content: '';
    width: 100px;
    display: block;
    background: #fff;
    height: 5px;
    margin: 20px auto;
    line-height: 1.1;
}

p.real-time {
    margin: 0 0 30px 0;
    font-size: 30px;
}

@-webkit-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blink {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}


#cursor:after {
    content: " ";
    display: inline-block;
    position: relative;
    height: 60px;
    top: 8px;
    margin-left: 3px;
    margin-right: 7px;
    width: 6px;
    background: #FFF;
    animation: blink 1s step-start 0s infinite;
    -webkit-animation: blink 1s step-start 0s infinite;
}



@media only screen and (max-width: 1000px) {
    h1 {
        font-size: 70px;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 48px;
    }

    h1::after {
        height: 5px;
    }
    #cursor:after {
        height: 50px;
        width: 5px;
        top: 8px;
    }
}

@media only screen and (max-width: 568px) {
    #intro {
        padding: 0 10px;
    }

    h1 {
        font-size: 30px;
    }

    h1::after {
        height: 3px;
    }
    #cursor:after {
        height: 35px;
        width: 3px;
        top: 8px;
    }

    p.real-time {
        font-size: 18px;
    }

    .btn-custom {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 28px;
    }

    h1::after {
        height: 1px;
    }
}
